In [16]:
import pandas as pd
import numpy as np
data={"SalOfYear1":[1000,2000,3000,4000,5000],"SalOfYear2":[2000,3000,3500,4500,4100]}
data=pd.DataFrame(data)
data

   SalOfYear1  SalOfYear2
0        1000        2000
1        2000        3000
2        3000        3500
3        4000        4500
4        5000        4100

### How to find the salary hike in percentage ?

In [19]:
(data["SalOfYear1"]-data["SalOfYear2"])/data["SalOfYear1"]*100

0   -100.000000
1    -50.000000
2    -16.666667
3    -12.500000
4     18.000000
dtype: float64

### -100 = 100 percetage hike
### -50 = 50 percentage hike
### -16 = 16 percentage hike
### -12 = 12 percentage hike
### 18 = 18 downgrader salary