In [22]:
import pandas as pd
import numpy as np

### 1) What is 40% of 80 ?

In [23]:
percentage=(40/100*80)
print(percentage)
print("The 40% percentage of 80 is {}".format(40/100*80))

32.0
The 40% percentage of 80 is 32.0

### 2) 3 is what % of 60 ?

In [24]:
percentage=(3/60*100)
print(percentage)
print("The 3 is what percentage of 60 {}".format(3/60*100))

5.0
The 3 is what percentage of 60 5.0

In [25]:
#Example
#1)52 is what percentage of 397 ?
a=[52, 87, 49,74, 28, 59,48]
print(sum(a))
print(52/sum(a)*100)

397
13.09823677581864

In [26]:
df1 = {
     'Name': ['abc', 'bcd', 'cde','def', 'efg', 'fgh','ghi'],
     'Math_score': [52, 87, 49,74, 28, 59,48]}

df1 = pd.DataFrame(df1,columns = ['Name','Math_score'])
df1['percent'] = (df1['Math_score'] / df1['Math_score'].sum()) * 100
df1

  Name  Math_score    percent
0  abc          52  13.098237
1  bcd          87  21.914358
2  cde          49  12.342569
3  def          74  18.639798
4  efg          28   7.052897
5  fgh          59  14.861461
6  ghi          48  12.090680