In [1]:
import pandas as pd
import numpy as np

In [7]:
df1 = {
     'Name': ['abc', 'bcd', 'cde','def', 'efg', 'fgh','ghi'],
     'Math_score': [52, 87, 49,74, 28, 59,48]}
df1 = pd.DataFrame(df1,columns = ['Name','Math_score'])
df1['percent'] = (df1['Math_score'] / df1['Math_score'].sum()) * 100
df1

  Name  Math_score    percent
0  abc          52  13.098237
1  bcd          87  21.914358
2  cde          49  12.342569
3  def          74  18.639798
4  efg          28   7.052897
5  fgh          59  14.861461
6  ghi          48  12.090680